@font-face {
    font-family: "Sofia Pro";
    src: url("../fonts/Sofia\ Pro\ Bold\ \(2\).ttf");
    
}

:root{
  --darkBlue:#011f3e;
}


html,body {
  font-family: "Sofia Pro" !important;
  overflow-x: hidden;
  padding:0 !important;
  margin:0 !important;
  color: #000000;
}

h1{
  font-size: 66px;
  font-weight: 700;
  line-height: 94.7px;
}

h2{
  font-size: 60px;
  font-weight: 700;
  line-height: 86.09px;
}

h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 68.92px;
}

h4{
  font-size: 34px;
  font-weight: 700;
  line-height: 50.58px;
  font-family: "Sofia Pro" !important;
}

p{
  font-size: 28px;
  font-weight: 500;
  line-height: 40.73px;
}

.padb-0{
  padding-bottom: 0 !important;
}
.mtp-3{
  margin-top: 3rem;
}

.smallText{
  font-size: 19px;
  font-weight: 700;
  line-height: 26.94px;
}

.pac-container {
  z-index: 100000 !important;
}

.primary-btn{
  padding: 40px 70px;
  border-radius: 9px;
  background-color: var(--darkBlue);
  outline: none;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 35.8px;
  transition: background-color .5s, color .25s;
  border: 2px solid  var(--darkBlue);
}

.primary-btn:hover{
  background-color:white ;
  color: var(--darkBlue);
  border: 2px solid  var(--darkBlue);
}

.secondary-btn{
  padding: 40px 70px;
  border-radius: 9px;
  background-color: white;
  outline: none;
  border: none;
  color:  var(--darkBlue);
  font-size: 36px;
  font-weight: 700; 
  line-height: 51.55px;
  transition: background-color .25s, color .25s;
  z-index: 10;

  /* border: 2px solid white; */

}

.secondary-btn:hover{
  color: white;
  background-color: var(--darkBlue);
} 

section{
  position: relative;
  scroll-snap-align: center;
}

/* Navbar */
.navbar{
  margin-top:80px !important;
}

.navbar-brand img{
  width: 190px;
  height: 72px;
}

.navbar-nav .nav-link{
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 30.49px !important;
  padding: 30px 60px !important;
  color: black ;
  cursor: pointer;
  transition: color .25s;
}

.navbar-nav .nav-link a:not([href]):not([tabindex]):hover {
  color: #057ee4 !important;
  text-decoration: none;
}

.active a{
  border-radius: 7px !important;
  background-color: #057ee4 !important;
  padding: 30px 60px !important;
  color: white !important;
  border: 2px solid #057ee4;
}

.active a:hover{
  background-color: white !important;
  color: #057ee4 !important;
}

/* Header */

header{
  padding-top:130px;
  position: relative;
}

header p{
  padding-top: 3rem;
}

header button{
  margin-top: 4rem;
}

.headerContainer{
  position: relative;
}

.headerImage{
  position: absolute;
  right:0;
  top:0;
}
/* .headerImage img{
  box-shadow: 15px 30px 45px rgba(39, 36, 36, 0.1);
} */

.middleImage{
  margin-top: -213px;
  margin-right: -181px;
}

.lastImage{
  margin-top: -244px;
  margin-left: -123px;
  z-index: -1;
}


/* HomelessnessSection */

.homelessSection{
  margin-top: 16rem;
  min-height: 793px;
  background: url('../images/14.jpeg');
  background-size: cover;
  background-position: center;
}

.homelessSection button{
  margin-top: 6rem;
}


.homelessSection::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background: rgba(0,0,0,.4);
}

.homelessSection h2{
  max-width: 767px;
  color: white;
  z-index: 10;
}

/* SliderSection */

.sliderSection{
  position: relative;
  margin-top: 8rem;
}

.sliderSection>h1{
  margin-bottom: 8rem;
}

.item{
  min-height: 663px;
  max-height: 212px; 
  width: 686px;
  border-radius: 37px;
  color: white;
  position: relative;
  overflow: visible;
  margin-left: 8rem;
}

.item p{
  margin-top:3rem;
}

.item1{
  background: url('../images/10.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item2{
  background: url('../images/5.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item3{
  background: url('../images/6.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item4{
  background: url('../images/slider4.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  position: absolute;
  max-width: 664px;
  min-width: 213px;
  min-height: 663px;
  max-height: 212px;
  left: 5.9rem;
  top: 6rem;
  right: -6rem;
  bottom: -6rem;
  padding: 5rem 7rem 0rem 6rem;
  border-radius: 37px;
  background-color: rgba(0, 0, 0, 0.2);
}

.owl-stage-outer{
  padding-bottom: 6rem;
}

/* HomelessnessSection2 */

.homelessness2{
  margin-top: 8rem;
  position: relative;
}

.homelessness2 p{
  color: var(--darkBlue);
  margin-top: 3rem;
}

.homelessness2 button{
  margin-top: 4rem;
}

.homelessGridImageContainer{
    position: absolute;
    right:0;
    top:0; 
    
}
.homelessGridImageContainer>div{
    width: 341px;
    height: 341px;
    border-radius: 6px;
    position: relative;
}

.homelessGridImageOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
  top: -3rem;
  right: -3rem;
}

.homelessGridImage1{
  background: url('../images/14.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homelessGridImage2{
  background: url('../images/15.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -55%;
  margin-top: -20%;
  z-index: 2;
}
.homelessGridImage3{
  background: url('../images/12.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 40%;
  margin-top: -40%;
  z-index: 3;
}
.homelessGridImage4{
  background: url('../images/13.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -53%;
  margin-left: -92%;
  z-index: 4;
}




/* QouteSection */
.qouteSection{
  padding-right: 4rem;
  padding-left: 4rem;
  margin-top: 24rem;
}
.qouteBox{
  margin-top: 4rem;
  text-align: left;
  min-height: 705px;
  padding: 3rem;
  border-radius: 31px;
  position: relative;
  color: white;
  margin-right: 3rem;


}
.qouteBox p{
  z-index: 1;
}

.qouteBox::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  border-radius: 31px;
  background-color: rgba(0, 0, 0, 0.5);
}

.qouteBox1{
  background: url('../images/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.qouteBox2{
  background: url('../images/11l.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.qouteBox3{
  background: url('../images/2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.qouteBox4 {
  background-color: rgba(0, 0, 0, 0.5);
  padding:5rem 2rem 0rem 2.5rem;
  position: relative;
  min-height: 598px !important;
}

/* .qouteBox4 img {
  width: 43%;
  height: 42%;
} */

.seal{
  margin-right: .5rem !important;
  margin-top: .5rem !important;
}
.ncdhs img {
  width: 85%;
  height: 99%;
}
.hud img {
  width: 82%;
  height: 96%;
}

.resources{
  position: relative;
  z-index: 2;
}

.afterCol{ 
  margin-top: 16rem;
 }

 .stateSection{ 
   margin-top: 16rem;
 }

 .stateSection p{
  color: var(--darkBlue);
}


 .loveSection{
  margin-top: 16rem;
 }

 .loveSection h3{
  color: var(--darkBlue);
  padding: 0rem 5rem 0rem 5rem;
  font-size: 35px;
  line-height: 49px;
}

.loveSection  p{
  color: var(--darkBlue);
}

 .gallery1{
   margin-top: 8rem;
 }
.gallryImage{
  box-shadow: 13px 26px 39px rgba(39, 36, 36, 0.1);
  border-radius: 13px;
}

.mapSection{
  margin-top: 16rem;
}
.mapSection p{
  margin-top: 2rem;
  color: var(--darkBlue);
}

/* FAQSection */
.faqSection{
  margin-top: 8rem;
}
.faqBox{
  margin-top: 4rem;
  text-align: left;
  min-height: 705px;
  padding: 3rem;
  border-radius: 31px;
  position: relative;
  color: white;
}
.faqBox p{
  z-index: 2;
}

.faqBox::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  border-radius: 31px;
  background-color: rgba(0, 0, 0, 0.5);
}

.faqBox1{
  background: url('../images/money.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.faqBox2{
  background: url('../images/7.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.faqBox3{
  background: url('../images/nightroad.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.faqBox4{
  background: url('../images/earlymon.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Donorsection */
.donorSection{
  margin-top: 16rem;
  padding-top: 8rem;
  min-height: 793px;
  background: url('../images/1.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;

}

.donorSection::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

}

.donorSection button{
  margin-top: 8rem;
  padding: 3rem 6.5rem;
}

.donorContent{
  position: relative;
  z-index: 2;
  padding-left: 4rem;
  padding-bottom: 7rem;
}
.donorContent h4{
  padding-top: 4rem;
}

/* volunteerSection */

.volunteerSection{
  margin-top: 8rem;
}
.volunteerSection form{
  margin-top: 3rem;
}

.volunteerSection p{
  color: var(--darkBlue);
}
.volunteerSection button{
 background: #000;
 padding: 2.5rem 6.2rem;
 margin-top: 4rem!important;
}

.volunteerSection .rectangle{
  padding: 2.5rem 2rem;
}

.caroText{
  padding: 7rem}

.flex-1{
    flex:1;
}

.galery2{
  margin-top: 8rem;
}

.gallery2image{
  width: 392px;
  min-height: 338px;
  box-shadow: 13px 26px 39px rgba(39, 36, 36, 0.1);
  border-radius: 10px;
}
.gallery2image1{
  background: url('../images/paint.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery2image2{
  background: url('../images/5 copy.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:6rem;
}

.gallery2image3{
  background: url('../images/planting.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery2image4{
  background: url('../images/22.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:5rem;
}

.galleryContent1{
  margin-left: -10%
}
.galleryContent2{
  margin-right: -19%
}


.contactSection{
  margin-top: 16rem;
  padding-top: 8rem;
  min-height: 793px;
  background: url('../images/l6.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;

}

.contactSection .rectangle{
  padding: 3rem 3rem 3rem 2rem;
}


.contactSection button{
  background-color: #057ee4 !important;
  border: 2px solid #057ee4 !important;
}

.contactSection::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

}

.contactContent{
  position: relative;
  z-index: 2;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.contactContent h4{
  padding-top: 4rem;
}

footer{
  padding: 3rem 0rem 2rem 0rem;
  font-size: 21px;
  font-weight: 700;
  line-height: 30.13px;
}

.footerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.social{
  margin-left: 7rem;
 }












/* Owl */
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 3rem;
}
button:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* Style for "Rectangle" */
.rectangle {
  width: 100% !important;
  padding:2rem;
  /* font-size: 2rem; */
  /* height: 82px !important; */
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
  border-radius: 8px !important;
  background-color: #f5f5f5 !important;
  outline: none !important;
  border: none !important;
}

.smallRectangle {
  border-radius: 8px !important;
  background-color: #f5f5f5 !important;
  padding: 1rem 1.8rem;
  cursor: pointer;
  opacity: 0.5;
  color: #000000;
}

.smallRectangle:hover{
  opacity: 1;
}

.methodRectangle{
  width: 48%;
  background-color: #f5f5f5;
  padding: 1.7rem 1.5rem;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
}
.methodRectangle:hover{
  opacity: .8;
}

.bankMethod{
  background-color: #da1a37;
}
.paypal{
  background-color: #1B3D92;
}
.master-card{
  background-color: #000;
}

label{
  font-size: 1.2rem;
  color: black;
  opacity: .3;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* Style for "Name" */
  font-family: "Sofia Pro";
  /* width: 158px; */
  /* height: 29px; */
  color: rgba(0, 0, 0, 0.3) !important;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
  opacity: .4; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* Style for "Name" */
  font-family: "Sofia Pro";
  /* width: 158px; */
  /* height: 29px; */
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.3) !important;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  /* Style for "Name" */
  font-family: "Sofia Pro";
  /* width: 158px; */
  /* height: 29px; */
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.3) !important;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
}

.modal{
  padding-right: 0 !important;
}
/* .modal-content{
  overflow-y: scroll;
} */

.modal-content {
    /* width: 500px !important; */
    padding: 3rem 4rem !important;
    min-height: 475px !important;
    box-shadow: 19px 45px 65px rgba(39, 36, 36, 0.1) !important;
    border-radius: 31px !important;
    background-color: #ffffff !important;
}

.modal-content .rectangle{
  padding: 3rem 2rem;
}

@media (min-width: 576px) {

  
  .modal-sm {
    max-width: 440px !important;
  }
}


.darkButton {
  width: 100% !important;
  border-radius: 7px !important;
  background-color: #000000 !important;
  color: white !important;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lightButton {
  width: 111% !important;
  height: 85px !important;
  border-radius: 7px !important;
  background-color: #fff !important;
  color: #000 !important;
  margin-left: -1rem;
}


 
.field {
  /* width: 100%; */
  width: 100% !important;
  padding:2rem;
  /* font-size: 2rem; */
  /* height: 82px !important; */
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
  border-radius: 8px !important;
  background-color: #f5f5f5 !important;
  outline: none !important;
  border: none !important;
}

.example.example2 .input {
  height: 82px !important;
  border-radius: 8px !important;
  background-color: #f5f5f5 !important;
  outline: none !important;
  border: none !important;
  padding:2rem;
  font-family: "Sofia Pro";
}

.example.example2 .input::-webkit-input-placeholder {
  width: 158px;
  height: 29px;
  opacity: 0.5;
  color: #000000;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
  opacity: 1;
}

.example.example2 .input::-moz-placeholder {
  width: 158px;
  height: 29px;
  opacity: 0.5;
  color: #000000;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
  opacity: 1;
}

.example.example2 .input:-ms-input-placeholder {
  width: 158px;
  height: 29px;
  opacity: 0.5;
  color: #000000;
  font-family: "Sofia Pro";
  font-size: 20px;
  font-weight: 700;
  line-height: 29.12px;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
  font-family: "Sofia Pro";

}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
  font-family: "Sofia Pro";

}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
  font-family: "Sofia Pro";

}

.example.example2 input:active {
    background-color: #159570;
  }
  
  .example.example2 .error svg {
    margin-top: 0 !important;
  }
  
  .example.example2 .error svg .base {
    fill: #e25950;
  }
  
  .example.example2 .error svg .glyph {
    fill: #fff;
  }
  
   .error .message {
    color: #e25950;
  }

  .error.visible {
    opacity: 1 !important;
    transform: none !important;
  }

  .error.invisible {
    opacity: 0 !important;
    transform: none !important;
  }

  .example.example2 .success .icon .border {
    stroke: #abe9d2;
  }
  
  .example.example2 .success .icon .checkmark {
    stroke: #24b47e;
  }
  
  .example.example2 .success .title {
    color: #32325d;
    font-size: 16px !important;
  }
  
  .example.example2 .success .message {
    color: #8898aa;
    font-size: 13px !important;
  }
  
  .example.example2 .success .reset path {
    fill: #24b47e;
  } */

  .cursor-pointer{
      cursor: pointer;
  } 



  /* Media Queires */

  @media only screen and (max-width: 1200px) {
    
    h3{
      font-size: 45px;
      line-height: 63.92px;
    }
    
    .item{
      width: 520px;
      min-height: 497px;
    }
    .item p{
      font-size: 17px;
      line-height: 29.73px;
      margin-top:1.5rem; 
    }
    .overlay {
      width: 520px;
      min-height: 497px;
      left: 5rem;
      top: 5rem;
      padding: 3rem 7rem 0rem 4rem;
  }
  }
  @media only screen and (max-width: 1347px) {
    .qouteBox4 {
      min-height: 509px !important;
  }
  .qouteBox4 h3 {
    font-size: 32px;
    line-height: 63.92px;
}
/* 
  .hud img {
    width: 76%;
    height: 96%;
}.ncdhs img {
  width: 91%;
  height: 103%;
} */

}

  @media only screen and (max-width: 992px) {

      h3{
        font-size: 40px;
        line-height: 54px;
      }

      .overlay {
        width: 430px;
        min-height: 407px;
        left: 4.2rem;
        top: 4.2rem;
        padding: 3rem 6rem 0rem 4rem;
    }

    .item{
      width: 430px;
      min-height: 407px;
    }

    .item p{
      font-size: 14px;
      font-weight: 500;
      line-height: 22.73px;
      margin-top: 1rem;
    }

    .headerImage{
      position: relative;
    }
     
    .headerContainer{
      text-align: center;
    }
    .headerContainer p {
      padding-right: 0;
    }
    .homelessGridImageContainer{
      margin-top: 10rem;
      position: relative;
      padding-left: 68%;
    }
 }

@media only screen and (max-width: 768px) {
 
  h3{
    font-size: 35px;
    line-height: 52px;
  }
 
  
  p{
    font-size: 19.5px;
    font-weight: 700;
    line-height: 29.33px;
  }

  .item p{
    font-size: 14.5px;
    font-weight: 700;
    line-height: 21px;
    margin-top:1.5rem;
  }

  .item{
      width: 400px;
      min-height: 377px;
      margin-left: 4rem;
    }

  .overlay
  {
        width: 400px;
        min-height: 377px;
        left: 3rem;
        top: 3rem;
        padding: 2rem 6rem 0rem 4rem;
    }
    
  .homelessGridImageContainer{
      position: relative;
      padding-left: 50%;
    }
 }

@media only screen and (max-width: 576px) {

  .modal-content{
    padding: 2rem !important;
  }
  .modal-content .rectangle {
    padding: 2rem 2rem;
}
  .modal-content h4{
    font-size: 26px;
  }

  .cvc{
    padding-left:0 !important;
  }
  .primary-btn,.secondary-btn{
    padding: 1.5rem 4rem;
    font-size:22px
  }
  .paypalIcon{
    margin-left: 5.5rem;
  }

  .navbar{
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .navbar-brand img{
    width: 83px;
    height: 28px;
  }

  header{
    padding-top: 7rem;
  }

  .headerContent{
    padding: 1rem 2.5rem 8rem 2.5rem;  
  }

  .headerImage img{
    width: 262px;
    /* height: 198px; */
    /* box-shadow: 8px 15px 23px rgba(39, 36, 36, 0.1); */
  }

  .firstImage{
    margin-right: -40%;
  }

  .middleImage{
    margin-top: -32%;
    margin-right: -30%;
  }

  .lastImage{
    margin-top: -38%;
    margin-left: 15%;
    z-index: -1;
  }

  .homelessSection {
    padding: 3rem;
    margin-top: 10rem;
    min-height: 319px;
}


.homelessness2 {
  text-align: center;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

.homelessness2 h1{
  margin-left: -1rem;
}


.homelessGridImageContainer{
  margin-left: 7%;
}

.homelessGridImageContainer>div {
  width: 171px;
  height: 171px;
}

.homelessGridImageOverlay {
  top: -1rem;
  right: -1rem;
}

.qouteSection {
  margin-top: 8rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.qouteBox{
  min-height: 435px;
  margin-right: 0;
  /* padding: 2.6rem; */
  padding: 3.6rem;
  margin-right: 4rem;
  margin-left: 4rem;

}
.qouteBox4 {
  padding: 4rem 1rem 2rem 2rem;
  min-height: 301px !important;
}


.qouteBox button {
  padding: 0.5rem 0rem;
  width: 64%;
  font-size: 17px;
  border-radius: 4px;
}

.hud img {
  width: 76%;
  height: 89%;
}
/* .qouteBox img {
  width: 83px;
    height: 83px;
}

.qouteBox a img {
  width: 76px;
  height: 74px;
} */

.ncdhs img{
  width: 63%;
  height: 103%;
}

.qouteBox4 h3{
  font-size: 22px;
}

.stateSection{
  margin-top: 10rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.stateContent{
  margin-top: 4rem; 
}

.stateContent h3{
  text-align: center; 
}

.stateContent p{
  text-align:center;
  /* font-size: 11px; */
  /* line-height: 16.07px; */
  margin-top: 2rem
}

.loveSection{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.loveSection h1{
  font-size: 33px;
  line-height: 47.35px;
}

.loveSection h3 {
  font-size: 16px;
  line-height: 27.35px;
  padding: 0;
}


.afterCol {
  margin-top: 0;
}

.gallery1 img{
  width: 9rem;
  height: 8rem;
  box-shadow: 3px 6px 10px rgba(39, 36, 36, 0.1);
  border-radius: 3px;
}

.mapSection{
  padding-right: 2.5rem;
}

.caroText {
  padding: 7rem 0rem 0rem 2.5rem;
  text-align: center !important;
}

.mapSection h3 {
  padding: 0rem 2rem 0rem 2rem;
  font-size: 22px;
  line-height: 31.64px;
}

.mapSection p {
  margin-top: 3rem;
}

.smallText {
  font-size: 13px;
  font-weight: 700;
  line-height: 18.94px;
}

.faqSection{
  padding-left:2.5rem;
  padding-right: 2.5rem;
}

.faqSection p {
  font-size: 21px;
  line-height: 27px;
}

.faqSection button{
  width: 117px;
  height: 53px;
  padding:1rem;
  font-size: 13px;
  line-height: 0;
  margin-top: 2rem;
}

.ans{
  margin-top:1rem;
  margin-bottom: 0 !important;
}

.faqBox{
  min-height: 264px;
  min-height: 428px;
  padding: 4rem 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.sliderSection {
  margin-top: 5rem;
}

.sliderSection h1{
  margin-bottom: 5rem;
  padding-right: 4rem;
  padding-left:4rem;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 2rem;
}

.donorSection{
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 457px;
}
.donorContent{
  padding-left: 0;
  padding-bottom: 6rem;
}

.donorSection h1{
  font-size: 30px;
  line-height: 47.35px;
  margin-left: .4rem;
}

.donorSection h4{
  font-size: 14px;
  line-height: 20.36px;
  padding-top: 2.5rem;
}

.donorSection button{
  padding: 1rem 3.5rem;
  font-size: 19px;
  margin-top: 4rem;
}

.volunteerSection{
  padding-left: 1.5rem;
  padding-right: 2rem;
}
.volunteerSection form {
  margin-top: 0; 
}
.volunteerSection button{
  width: 100%;
  margin-top: 2rem !important;
  padding: 1.8rem 0;
}

.rightVolForm{
  margin-top: 1rem;
}

.gallery2image {
  width: 13rem;
  min-height: 12rem;
  box-shadow: 5px 9px 14px rgba(39, 36, 36, 0.1);

}


.contactSection{
  padding-top: 6rem;
  margin-top: 8rem;
}

.contactContent{
  padding-left: 3rem;
}

  .item{
    width: 230px;
    min-height: 229px;
    border-radius: 12px;
    margin-left: 0;
  }

  .item p {
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
  }

  .item2{
    margin-left: 3rem;
  }
  .item3{
    margin-left: 3rem;
  }
  .item4{
    margin-left: 3rem;
  }

  .overlay{
    width: 230px;
    min-height: 229px;
    left: 1.8rem;
    top: 1.8rem;
    padding: 1rem 4rem 0rem 1.5rem;
    border-radius: 12px;
  }

  h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 56.82px;

  }
  
  h2{
    font-size: 33px;
    font-weight: 700;
    line-height: 47.35px;
    padding-bottom: 0;
  }
  
  h3{
    font-size: 20px;
    line-height: 28.93px;
  }
  
  h4{
    font-size: 17px;
    font-weight: 500;
    line-height: 24.44px;
    font-family: "Sofia Pro" !important;
  }
  p{
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
  }
  
  /* footer{ */

    footer{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 4rem 0rem 3rem 0rem;
    }

    .footerLogo{
      width: 108px;
      height: 36px;
    }

    .social{
     margin-left: 0rem;
    }

    .social img{
      margin-top: 1rem;
      width: 36px;
      height: 36px;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .footerContent{
      flex-direction: column;
    }

 

  



/* example-2 .example.example2 {
  background-color: #fff;
}

.example.example2 * {
  font-family: Source Code Pro, Consolas, Menlo, monospace;
  font-size: 16px;
  font-weight: 500;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}


.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: #24b47e;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input,
.example.example2 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 input,
.example.example2 button {
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}


